body {
    background:#000 url(../assets/logo.png) top left no-repeat;
    color:#ccc;
    font-family:"ProggyCleanTTSZ", "Fixedsys Excelsior 3.01", sans-serif;
    font-size:12pt;
}
img {
    display:block;
    margin:0 auto;
}
h1 {
    display:block;
    text-align:center;
}
.copyright {
    font-size:small;
    text-align:center;
}
