<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bunchies.org - {{ page.title }}</title>
        <meta name="author" content="Kesha">
        <link rel="icon" type="image/png" href="/assets/favico.png"/>
        <link rel="stylesheet" href="/css/css.css" type="text/css" media="screen, projection"/>
    </head>
    <body>
        <p> 
            <img src="./assets/bunchies.gif" alt="bunchies.gif"/> 
        </p> 
        <h1> 
            Bunchies.org 
        </h1>
        {{ content }}
    </body>
</html>
